<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>About</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.user_name %></td>
      <td><%= user.passwrod %></td>
      <td><%= user.about %></td>
    </tr>
    <% end %>
  </tbody>

</table>
