<table>
  <thead>
    <tr>
      <th>Course Title</th>
      <th>Night Class?</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
    <tr>
      <td><%=link_to course.title, course%></td>
      <td><%= course.night%></td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Add Course', new_course_path %>
